{% extends "admin12/base.html" %}
{% block content %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">Students data</h5>

 <table class="table">
  <thead>
    <tr>
        <th scope="col">SL</th>
        <th scope="col">NAME</th>
              <th scope="col">DOB</th>
      <th scope="col">MOBILE</th>
        <th scope="col">PROFILE PIC</th>




    </tr>
  </thead>
       <tbody>
  {% for i in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.name}}</td>
      <td>{{i.age}}</td>
    <td>{{i.mobile}}</td>
          <td><img src="{{i.profile_pic.url }}" style="width:100px"></td>







  </tr>
            {% endfor %}


  </tbody>


 </table>
{% endblock %}

  </div>
</div>


<!--</body>-->
<!--</html>-->